<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=1">
    <link href="//cdn.bootcss.com/weui/1.0.2/style/weui.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/Swiper/3.4.0/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<!--首页-->
<div class="container home">

    <div class="swiper-container">
        <!--轮播图-->
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="banner_img" src="../static/images/banner_img@2x.png" alt="">
            </div>
            <div class="swiper-slide">
                <img class="banner_img" src="../static/images/banner_img@2x.png" alt="">
            </div>
            <div class="swiper-slide">
                <img class="banner_img" src="../static/images/banner_img@2x.png" alt="">
            </div>
            <div class="swiper-slide">
                <img class="banner_img" src="../static/images/banner_img@2x.png" alt="">
            </div>
        </div>

        <!-- 分页器 -->
        <div class="swiper-pagination"></div>

    </div>
    <!--城市选择-->
    <div class="city-select">
        <span class="city-select-text">上海</span><i class="city-select-icon"></i>
    </div>
    <!--标题-->
    <div class="title">
        <span class="title-text">活力矩阵</span>
    </div>
    <!--搜索-->
    <div class="search">
        <i class="banner_icon_search"></i>
        <span class="search-text">挑好房，活力矩阵</span>
    </div>
    <!--内容-->
    <div class="content-msg">
        <div class="content-msg-search content-msg-search-fixed container-display">
            <div class="city-select2">
                <span class="city-select-text2">上海</span><i class="city-select-icon"></i>
            </div>
            <div class="search2">
                <i class="banner_icon_search"></i>
                <span class="search-text2">挑好房，活力矩阵</span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="content-msg-head">
            <ul class="flex">
                <li class="flex-1">区域 <i class="content_icon02_nor"></i></li>
                <li class="flex-2">面积 <i class="content_icon02_nor"></i></li>
                <li class="flex-3">单价 <i class="content_icon02_nor"></i></li>
                <li class="flex-4">更多 <i class="content_icon02_nor"></i></li>
                <li class="flex-5"><i class="content_icon01_nor"></i></li>
            </ul>
            <!--<div class="flex-div1"></div>-->
        </div>
        <div class="content-box">
            <div class="context-msg-1">
                <ul class="context-msg-flex">
                    <li class="context-msg-left">
                        <img src="../static/images/content_img_list@2x.png" alt="" class="content_img_list">
                    </li>
                    <li class="context-msg-right">
                        <div class="context-msg-right-container">
                            <div class="context-msg-name"><span class="context-msg-name-text">东京金融中心</span><i class="collect_icon_nor "></i></div>
                            <div class="context-msg-address">浦东-八佰伴</div>
                            <div class="context-msg-type">商务中心</div>
                            <div class="context-msg-price"><span class="price-type">&yen;</span><span class="price">7</span>元/平米/天起 <span>佣金：1个月</span></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="context-msg-1">
                <ul class="context-msg-flex">
                    <li class="context-msg-left">
                        <img src="../static/images/content_img_list@2x.png" alt="" class="content_img_list">
                    </li>
                    <li class="context-msg-right">
                        <div class="context-msg-right-container">
                            <div class="context-msg-name"><span class="context-msg-name-text">东京金融中心</span><i class="collect_icon_nor"></i></div>
                            <div class="context-msg-address">浦东-八佰伴</div>
                            <div class="context-msg-type">商务中心</div>
                            <div class="context-msg-price"><span class="price-type">&yen;</span><span class="price">7</span>元/平米/天起 <span>佣金：1个月</span></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="context-msg-1">
                <ul class="context-msg-flex">
                    <li class="context-msg-left">
                        <img src="../static/images/content_img_list@2x.png" alt="" class="content_img_list">
                    </li>
                    <li class="context-msg-right">
                        <div class="context-msg-right-container">
                            <div class="context-msg-name"><span class="context-msg-name-text">东京金融中心</span><i class="collect_icon_nor"></i></div>
                            <div class="context-msg-address">浦东-八佰伴</div>
                            <div class="context-msg-type">商务中心</div>
                            <div class="context-msg-price"><span class="price-type">&yen;</span><span class="price">7</span>元/平米/天起 <span>佣金：1个月</span></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="context-msg-1">
                <ul class="context-msg-flex">
                    <li class="context-msg-left">
                        <img src="../static/images/content_img_list@2x.png" alt="" class="content_img_list">
                    </li>
                    <li class="context-msg-right">
                        <div class="context-msg-right-container">
                            <div class="context-msg-name"><span class="context-msg-name-text">东京金融中心</span><i class="collect_icon_nor"></i></div>
                            <div class="context-msg-address">浦东-八佰伴</div>
                            <div class="context-msg-type">商务中心</div>
                            <div class="context-msg-price"><span class="price-type">&yen;</span><span class="price">7</span>元/平米/天起 <span>佣金：1个月</span></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="context-msg-1">
                <ul class="context-msg-flex">
                    <li class="context-msg-left">
                        <img src="../static/images/content_img_list@2x.png" alt="" class="content_img_list">
                    </li>
                    <li class="context-msg-right">
                        <div class="context-msg-right-container">
                            <div class="context-msg-name"><span class="context-msg-name-text">东京金融中心</span><i class="collect_icon_nor"></i></div>
                            <div class="context-msg-address">浦东-八佰伴</div>
                            <div class="context-msg-type">商务中心</div>
                            <div class="context-msg-price"><span class="price-type">&yen;</span><span class="price">7</span>元/平米/天起 <span>佣金：1个月</span></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="context-msg-1">
                <ul class="context-msg-flex">
                    <li class="context-msg-left">
                        <img src="../static/images/content_img_list@2x.png" alt="" class="content_img_list">
                    </li>
                    <li class="context-msg-right">
                        <div class="context-msg-right-container">
                            <div class="context-msg-name"><span class="context-msg-name-text">东京金融中心</span><i class="collect_icon_nor"></i></div>
                            <div class="context-msg-address">浦东-八佰伴</div>
                            <div class="context-msg-type">商务中心</div>
                            <div class="context-msg-price"><span class="price-type">&yen;</span><span class="price">7</span>元/平米/天起 <span>佣金：1个月</span></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--预约-->
<div class="container container-display">
    <div class="appointment-head">
        <span class="appointment">预约</span>
    </div>
    <div class="appointment-content">
        <div class="appointment-content1">
            <ul class="appointment-content-flex">
                <li class="appointment-content-flex1">
                    <img src="../static/images/content_img@2x.png" class="content_img">
                </li>
                <li class="appointment-content-flex2">
                    <div class="a-c-f2-h"><span class="a-c-f2-s1">先生/女士您好：</span><span class="a-c-f2-s2">08/03/16:02</span><i class="content_icon"></i></div>
                    <div class="a-c-f2-c">我想看【京德大楼】的房源，请帮我安排，地址是常德路319号。</div>
                    <div class="a-c-f2-f">看房时间：08/08</div>
                </li>
            </ul>
            <div class="appointment-content-jd">接单</div>
            <div class="clear"></div>
        </div>
        <div class="appointment-content1">
            <ul class="appointment-content-flex">
                <li class="appointment-content-flex1">
                    <img src="../static/images/content_img@2x.png" class="content_img">
                </li>
                <li class="appointment-content-flex2">
                    <div class="a-c-f2-h"><span class="a-c-f2-s1">先生/女士您好：</span><span class="a-c-f2-s2">08/03/16:02</span><i class="content_icon"></i></div>
                    <div class="a-c-f2-c">我想看【京德大楼】的房源，请帮我安排，地址是常德路319号。</div>
                    <div class="a-c-f2-f">看房时间：08/08</div>
                </li>
            </ul>
            <div class="appointment-content-yjd">已接单，待反馈</div>
            <div class="clear"></div>
        </div>
        <div class="appointment-content1">
            <ul class="appointment-content-flex">
                <li class="appointment-content-flex1">
                    <img src="../static/images/content_img@2x.png" class="content_img">
                </li>
                <li class="appointment-content-flex2">
                    <div class="a-c-f2-h"><span class="a-c-f2-s1">先生/女士您好：</span><span class="a-c-f2-s2">08/03/16:02</span><i class="content_icon"></i></div>
                    <div class="a-c-f2-c">我想看【京德大楼】的房源，请帮我安排，地址是常德路319号。</div>
                    <div class="a-c-f2-f">看房时间：08/08</div>
                </li>
            </ul>
            <div class="appointment-content-yjd">完成</div>
            <div class="clear"></div>
        </div>
        <div class="appointment-content1">
            <ul class="appointment-content-flex">
                <li class="appointment-content-flex1">
                    <img src="../static/images/content_img@2x.png" class="content_img">
                </li>
                <li class="appointment-content-flex2">
                    <div class="a-c-f2-h"><span class="a-c-f2-s1">先生/女士您好：</span><span class="a-c-f2-s2">08/03/16:02</span><i class="content_icon"></i></div>
                    <div class="a-c-f2-c">我想看【京德大楼】的房源，请帮我安排，地址是常德路319号。</div>
                    <div class="a-c-f2-f">看房时间：08/08</div>
                </li>
            </ul>
            <div class="appointment-content-jd">接单</div>
            <div class="clear"></div>
        </div>
        <div class="appointment-content1">
            <ul class="appointment-content-flex">
                <li class="appointment-content-flex1">
                    <img src="../static/images/content_img@2x.png" class="content_img">
                </li>
                <li class="appointment-content-flex2">
                    <div class="a-c-f2-h"><span class="a-c-f2-s1">先生/女士您好：</span><span class="a-c-f2-s2">08/03/16:02</span><i class="content_icon"></i></div>
                    <div class="a-c-f2-c">我想看【京德大楼】的房源，请帮我安排，地址是常德路319号。</div>
                    <div class="a-c-f2-f">看房时间：08/08</div>
                </li>
            </ul>
            <div class="appointment-content-jd">接单</div>
            <div class="clear"></div>
        </div>
    </div>

</div>

<!-- + -->
<div class="container release container-display">
    <div class="release-btn">
        <div class="release-xq">
            <i class="publish_btn02"></i>
            <div class="clear"></div>
            <p>发布需求</p>
        </div>
        <div class="release-fy">
            <i class="publish_btn01"></i>
            <div class="clear"></div>
            <p>发布房源</p>
        </div>
    </div>
    <i class="publish_close_icon"></i>
    <!--<div class=""></div>-->
</div>

<!--信息-->
<div class="container container-display">
    <!--信息顶部分页-->
    <div class="info-head">
        <ul class="info-head-menu">
            <li class="info-head-menu-flex1 info-head-menu-active">消息</li>
            <li class="info-head-menu-flex2">通知</li>
            <li class="info-head-menu-flex3">需求</li>
        </ul>
    </div>
    <!--消息-->
    <div class="news-box">
        <div class="news">
            <div class="news-title">你眼中“醉美夜滨江”摄影征集启动啦！</div>
            <div class="news-content">
                &nbsp;&nbsp;霓虹璀璨，凉风习习，越看越美，让心心醉。外滩，陆家嘴，徐汇滨江，北外滩...你眼中“醉美”的滨江夜景在哪里？
            </div>
            <div class="news-time">08/04/13:06</div>
            <div style="clear: both"></div>
        </div>
        <div class="news">
            <div class="news-title">你眼中“醉美夜滨江”摄影征集启动啦！</div>
            <div class="news-content">
                &nbsp;&nbsp;霓虹璀璨，凉风习习，越看越美，让心心醉。外滩，陆家嘴，徐汇滨江，北外滩...你眼中“醉美”的滨江夜景在哪里？
            </div>
            <div class="news-time">08/04/13:06</div>
            <div style="clear: both"></div>
        </div>
        <div class="news">
            <div class="news-title">你眼中“醉美夜滨江”摄影征集启动啦！</div>
            <div class="news-content">
                &nbsp;&nbsp;霓虹璀璨，凉风习习，越看越美，让心心醉。外滩，陆家嘴，徐汇滨江，北外滩...你眼中“醉美”的滨江夜景在哪里？
            </div>
            <div class="news-time">08/04/13:06</div>
            <div style="clear: both"></div>
        </div>
        <div class="news">
            <div class="news-title">你眼中“醉美夜滨江”摄影征集启动啦！</div>
            <div class="news-content">
                &nbsp;&nbsp;霓虹璀璨，凉风习习，越看越美，让心心醉。外滩，陆家嘴，徐汇滨江，北外滩...你眼中“醉美”的滨江夜景在哪里？
            </div>
            <div class="news-time">08/04/13:06</div>
            <div style="clear: both"></div>
        </div>
    </div>
    <!--通知-->
    <div class="notice-box info-active">
        <div class="notice">
            <div class="notice-head">
                <div class="notice-title">房源维护提示</div>
                <div class="notice-time">08/04/13:06</div>
                <div style="clear: both"></div>
            </div>
            <div class="notice-content">
                您在本平台上传一处房源信息，现在有效期马上就要到了，
                请到“我发布的房源”中更新动态，5天后该房源将自动下架。
            </div>
            <div class="notice-address">地址：徐汇-龙华-科技大厦</div>
        </div>
        <div class="notice">
            <div class="notice-head">
                <div class="notice-title">房源维护提示</div>
                <div class="notice-time">08/04/13:06</div>
                <div style="clear: both"></div>
            </div>
            <div class="notice-content">
                您在本平台上传一处房源信息，现在有效期马上就要到了，
                请到“我发布的房源”中更新动态，5天后该房源将自动下架。
            </div>
            <div class="notice-address">地址：徐汇-龙华-科技大厦</div>
        </div>
    </div>
    <!--需求-->
    <div class="demand-box info-active">
        <div class="demand">
            <div class="demand-head">
                <div class="demand-title">房源维护提示</div>
                <div class="demand-type demand-type-zh">租户</div>
                <div style="clear: both"></div>
            </div>
            <div class="demand-content">
                您在本平台上传一处房源信息，现在有效期马上就要到了，
                请到“我发布的房源”中更新动态，5天后该房源将自动下架。
            </div>
            <div class="demand-footer">
                <div class="demand-details">了解详情</div>
                <div class="demand-time">08/04/13:06</div>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="demand">
            <div class="demand-head">
                <div class="demand-title">房源维护提示</div>
                <div class="demand-type demand-type-jjr">经纪人</div>
                <div style="clear: both"></div>
            </div>
            <div class="demand-content">
                您在本平台上传一处房源信息，现在有效期马上就要到了，
                请到“我发布的房源”中更新动态，5天后该房源将自动下架。
            </div>
            <div class="demand-footer">
                <div class="demand-details">了解详情</div>
                <div class="demand-time">08/04/13:06</div>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="demand">
            <div class="demand-head">
                <div class="demand-title">房源维护提示</div>
                <div class="demand-type demand-type-zs">招商</div>
                <div style="clear: both"></div>
            </div>
            <div class="demand-content">
                您在本平台上传一处房源信息，现在有效期马上就要到了，
                请到“我发布的房源”中更新动态，5天后该房源将自动下架。
            </div>
            <div class="demand-footer">
                <div class="demand-details">了解详情</div>
                <div class="demand-time">08/04/13:06</div>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="demand">
            <div class="demand-head">
                <div class="demand-title">房源维护提示</div>
                <div class="demand-type demand-type-dls">代理商</div>
                <div style="clear: both"></div>
            </div>
            <div class="demand-content">
                您在本平台上传一处房源信息，现在有效期马上就要到了，
                请到“我发布的房源”中更新动态，5天后该房源将自动下架。
            </div>
            <div class="demand-footer">
                <div class="demand-details">了解详情</div>
                <div class="demand-time">08/04/13:06</div>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
</div>

<!-- 我 -->
<div class="container container-display">
    <div class="me-head">
        <div class="me-head-box">
            <div class="me-head-left"></div>
            <div  class="me"><span>我</span></div>
            <div class="me-head-right"><i class="nav_set_icon"></i></div>
        </div>
    </div>
    <!--未登录-->
    <div class="me-lr">
        <div class="me-lr-head">
            <div class="me-lr-head-img"></div>
            <div class="me-lr-head-text"><a>点击登录/注册</a></div>
            <i class="in_right_icon"></i>
            <div class="clear"></div>
        </div>
        <div class="me-lr-footer">
            <ul class="me-lr-footer-flex">
                <li class="me-lr-footer-flex1"><span class="sc-num">0 </span>收藏</li>
                <li class="me-lr-footer-flex2"><span class="jf-num">0 </span>积分</li>
            </ul>
        </div>
    </div>
    <div class="me-content">
        <ul class="me-content-ul">
            <li><i class="content_list_icon01"></i><span>我发布的需求</span><i class="content_list_right_icon"></i></li>
            <li><i class="content_list_icon02"></i><span>我发布的房源</span><i class="content_list_right_icon"></i></li>
            <li><i class="content_list_icon05"></i><span>我预约的房源</span><i class="content_list_right_icon"></i></li>
            <li><i class="content_list_icon03"></i><span>历史交易</span><i class="content_list_right_icon"></i></li>
            <li><i class="content_list_icon04"></i><span>过期房源</span><i class="content_list_right_icon"></i></li>
        </ul>
    </div>
</div>

<!--底部导航条-->
<div class="nav-bottom">
    <ul class="nav-bottom-flex">
        <li class="nav-bottom-flex1">
            <i class="bottom_press_icon04"></i>
            <div class="nav-bottom-flex-active">首页</div>
        </li>
        <li class="nav-bottom-flex2">
            <i class="bottom_nor_icon03"></i>
            <div>预约</div>
        </li>
        <li class="nav-bottom-flex3">
            <i class="bottom_icon05"></i>
        </li>
        <li class="nav-bottom-flex4">
            <i class="bottom_press_icon02"></i>
            <div>信息</div>
        </li>
        <li class="nav-bottom-flex5">
            <i class="bottom_press_icon01"></i>
            <div>我</div>
        </li>
    </ul>
</div>
</body>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/Swiper/3.4.0/js/swiper.jquery.min.js"></script>
<script>
    //创建轮播图
var mySwiper = new Swiper(".swiper-container",{
    autoplay : 5000,
    loop : true,
    pagination : ".swiper-pagination"
})
    //首页 滚动阶梯
    $(".home").scroll(function(){
        var chTop = $(".content-msg-head").offset().top;
        if(chTop <= 74){
            $(".content-msg-search").removeClass("container-display");
            $(".content-msg-head").addClass("content-msg-head-fixed");
            $(".content-box").addClass("content-box-fixed");
            $(".swiper-container").hide();
            $(".city-select").hide();
            $(".title").hide();
            $(".search").hide();
            $(".content-box-fixed").scroll(function(){
                var top1 = $(".context-msg-1").offset().top;
                if(top1 == 112){
                    $(".content-msg-head").removeClass("content-msg-head-fixed");
                    $(".content-box").removeClass("content-box-fixed");
                    $(".swiper-container").show();
                    $(".city-select").show();
                    $(".title").show();
                    $(".search").show();
                }
            })
        }
    })
// 筛选
    $(".content-msg-head ul li:not(:last)").click(function(){
        $(this).toggleClass("flex-active");
        $(this).children("i").toggleClass("content_icon02_press");
        $(this).siblings().removeClass("flex-active");
        $(this).siblings().children("i").removeClass("content_icon02_press");
    })
    // 底部导航
    $(".nav-bottom-flex li").click(function(){
        var a = $(this).index();
        if(a == 2){
            $(".container").eq(a).removeClass("container-display");
        }else {
            $(this).children("div").addClass("nav-bottom-flex-active");
            var val = $(this).children("i").css("background").replace("nor","press");
            $(this).children("i").css("background",val);
            var b = $(this).siblings(".nav-bottom-flex li");
            $(b).children("div").removeClass("nav-bottom-flex-active");
            for(var i=0;i< b.length;i++){
                var bgval = $(b).eq(i).children("i").css("background").replace("press","nor");
                $(b).eq(i).children("i").css("background",bgval);
            }
            $(".container").eq(a).removeClass("container-display");
            $(".container").eq(a).siblings(".container").addClass("container-display");
        }
    })

    // 信息
    $(".info-head-menu li").click(function(){
        $(this).addClass("info-head-menu-active");
        $(this).siblings().removeClass("info-head-menu-active");
        var val = $(this).index();
        $(".info-head").siblings().eq(val).removeClass("info-active");
        $(".info-head").siblings().eq(val).siblings(":not(:eq(0))").addClass("info-active");
    })
    // 发布
    $(".publish_close_icon").click(function(){
        $(this).parent(".container").addClass("container-display");
    })
    $(".publish_btn02").click(function(){
        window.location = "releaseInventory.html";
    })
    $(".publish_btn01").click(function(){
        window.location = "releaseRequirements.html";
    })
    $(".me-content-ul li").eq(0).click(function(){
        history.pushState({page : 1},"title 1","?page = 1");
        window.location = "iReleaseTheNeed.html";
    })
    $(".me-content-ul li").eq(1).click(function(){
        window.location = "iReleasedTheHousing.html";
    })


   // 预约
    $(".appointment-content-jd").click(function(){
        window.location = "book.html";
    })
    // 我
    $(".me-lr-head").click(function(){
        window.location = "LoginRegister/Login.html";
    })
    $(".collect_icon_nor").click(function(){
        $(this).toggleClass("collect_icon_nor-active");
    })
</script>
</html>