body{
    background-color: #f5eeea;
}
.logo{
    position: absolute;
    top:30%;
    left: 30%;
}
.bottom{
    color: #a7a4a2;
    font-size: 14px;
    position: absolute;
    top:95%;
    left: 37%;
}