.clear{
    clear: both;
}
.container-display{
    display: none;
}
.container{
    background: #efeff4;
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:50px;
    overflow-y:auto;
}
.swiper-container {
    width: 100%;
    height: 320px;
    margin-bottom:10px;
}
.banner_img{
    width: 100%;
    height:100%;
}
.swiper-pagination-bullet{
    background: url("../images/banner_icon_point_nor@2x.png") no-repeat;
    background-size: cover;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background: url("../images/banner_icon_point_press@2x.png") no-repeat;
    background-size: cover;
    opacity: 1;
}
.city-select{
    height: 25px;
    position: absolute;
    top:32px;
    left: 15px;
    z-index: 10;
}
.city-select-text{
    float: left;
    display: block;
    line-height: 25px;
    height:50px;
    color:white;
}
.city-select-icon{
    background:url("../images/city-select-icon.png") no-repeat center;
    background-size:15px;
    float: left;
    display: block;
    height:25px;
    width: 25px;
}
.title{
    width:100%;
    text-align: center;
    position: absolute;
    top: 24px;
    z-index:11;
}
.title-text{
    color:white;
    font-size: 24px;
}

.search{
    height: 33px;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    top:100px;
    left: 15px;
    right: 15px;
    background: #f1f1f1;
    text-align: center;
}
.banner_icon_search{
    background: url("../images/banner_icon_search@2x.png") no-repeat center;
    background-size:13px;
    display:inline-block;
    height: 33px;
    width: 16px;
}
.search-text{
    display:inline-block;
    line-height: 33px;
    color: #d9d9d9;
    vertical-align: top;
}

.content-box-fixed{
    position: fixed;
    top:112px;
    right:0;
    left:0;
    bottom:50px;
    overflow-y:auto;
}
.content-msg-fixed{
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom:50px;
    overflow-y:auto;
}
.content-msg-search-fixed{
    position: fixed;
    top: 0px;
}
.content-msg-search{
    width: 100%;
    height: 64px;
    background: #3d3d3c;
}
.city-select2{
    height: 25px;
    float: left;
    margin-top: 30px;
}
.city-select-text2{
    float: left;
    display: block;
    line-height: 25px;
    color:white;
}
.search2{
    width: 200px;
    height: 33px;
    border-radius: 5px;
    background: #f1f1f1;
    text-align: center;
    float: left;
    margin-left: calc(50% - 157px);
    margin-top:25px;
}
.search-text2{
    display:inline-block;
    line-height: 33px;
    color: #d9d9d9;
    vertical-align: top;
    font-size: 12px;
}
.content-msg-head{
    width: 100%;
    height: 25px;
    padding:10px 0;
    background-color:#fff;
    border-bottom:0.5px solid #999;
}
.content-msg-head-fixed{
    position: fixed;
    top: 64px;
}
.flex{
    display: flex;
    list-style: none;
}
/*.flex-div1{
	width: 100%;
	height: 500px;
	background: rgba(0, 0, 0, 0.81);
	position: absolute;
	margin-top:11px;
}*/
.flex-active{
    color: #ec6527;
}
.flex li{
    text-align: center;
    height:25px;
    font-size: 12px;
}
.flex-1{
    flex: 2;
    border-right:1px solid #999;
}
.flex-2{
    flex: 2;
    border-right:1px solid #999;
}
.flex-3{
    flex: 2;
    border-right:1px solid #999;
}
.flex-4{
    flex: 2;
    border-right:1px solid #999;
}
.flex-5{
    flex: 1;
}
.content_icon01_nor{
    background:url("../images/content_icon01_nor@2x.png") no-repeat center;
    background-size:22px;
    display: block;
    height:25px;
    width: 100%;
}
.content_icon02_nor{
    background:url("../images/content_icon02_nor@2x.png") no-repeat center;
    background-size:8px;
    display: block;
    height:10px;
    width: 100%;
}
.content_icon02_press{
    background:url("../images/content_icon02_press@2x.png") no-repeat center;
    background-size:8px;
    display: block;
    height:10px;
    width: 100%;
}


.context-msg-1{
    background-color: #ffffff;
    width: 100%;
    height:115px;
    margin-bottom: 5px;
}
.context-msg-flex{
    display: flex;
    list-style: none;
}
.context-msg-flex li{
    padding:10px 0px;
    padding-left:5px;
    height: 95px;
}
.context-msg-left{
    flex: 3;
}
.content_img_list{
    width: 100%;
    height:100%;
}
.context-msg-right{
    flex: 4;
}

.context-msg-right-container{
    padding:2px 5px;
}
.context-msg-name{
    width: 100%;
}
.context-msg-name-text{
    display:inline-block;
    font-size:16px;
    font-weight: bold;
    height: 25px;
}
.collect_icon_nor{
    background:url("../images/collect_icon_nor@2x.png") no-repeat center;
    background-size:16px;
    float: right;
    display: inline-block;
    height:25px;
    width:25px;
}
.collect_icon_nor-active{
    background:url("../images/collect_icon_press@2x.png") no-repeat center;
    background-size:16px;
}
.context-msg-address{
    font-size: 12px;
}
.context-msg-type{
    font-size:12px;
    border:1px solid #ea580a;
    border-radius: 5px;
    width:60px;
    text-align: center;
    color:#ea580a;
}
.context-msg-price{
    font-size:12px;
}
.price-type{
    color:#ea580a;
    font-weight: bold;
}
.price{
    font-size:18px;
    color:#ea580a;
    font-weight: bold;
}

.nav-bottom{
    position: fixed;
    bottom: 0px;
    height:50px;
    width: 100%;
}
.nav-bottom-flex{
    display: flex;
    list-style:none;
}
.nav-bottom-flex li{
    text-align: center;
}
.nav-bottom-flex1{
    flex:1;
}
.nav-bottom-flex1 div{
    font-size: 12px;
}
.nav-bottom-flex-active{
    color:#ea580a;
}
.bottom_press_icon04{
    background:url("../images/bottom_press_icon04@2x.png") no-repeat center;
    background-size:24px;
    display: block;
    height: 30px;
}
.nav-bottom-flex2{
    flex:1;
}
.nav-bottom-flex2 div{
    font-size: 12px;
}
.bottom_nor_icon03{
    background:url("../images/bottom_nor_icon03@2x.png") no-repeat center;
    background-size:24px;
    display: block;
    height: 30px;
}
.nav-bottom-flex3{
    flex:1;
}
.nav-bottom-flex3 div{
    font-size: 12px;
}
.bottom_icon05{
    background:url("../images/bottom_icon05@2x.png") no-repeat center;
    background-size:40px;
    display: block;
    height: 48px;
}
.nav-bottom-flex4{
    flex:1;
}
.nav-bottom-flex4 div{
    font-size: 12px;
}
.bottom_press_icon02{
    background:url("../images/bottom_nor_icon02@2x.png") no-repeat center;
    background-size:24px;
    display: block;
    height: 30px;
}
.nav-bottom-flex5{
    flex:1;
}
.nav-bottom-flex5 div{
    font-size: 12px;
}
.bottom_press_icon01{
    background:url("../images/bottom_nor_icon01@2x.png") no-repeat center;
    background-size:24px;
    display: block;
    height: 30px;
}



/*信息*/
.info-head{
    height:65px;
    width:100%;
    background:#fff;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items:center;
    justify-content:center;
}
.info-head-menu{
    border:1px solid #ea5506;
    border-radius: 5px;
    width:255px;
    heigth:30px;
    display: flex;
    list-style: none;
}
.info-head-menu-flex1,.info-head-menu-flex2,.info-head-menu-flex3{
    flex:1;
    color:#ea5506;
}
.info-head-menu-active{
    background-color: #ea5506;
    color:#fff;
}
.info-active{
    display: none;
}
.news{
    margin:10px 12px;
    background:#fff;
    border-radius: 5px;

}
.news-title{
    padding:8px 10px;
    font-size: 14px;
    color: #333333;
}
.news-content{
    border-top:1px dashed #999;
    padding:8px 10px;
    font-size: 12px;
    color: #999;
}
.news-time{
    font-size: 12px;
    padding:0 10px;
    color: #999;
    float: right;
}
.notice{
    margin:10px 12px;
    /*height: 118px;*/
    background:#fff;
    border-radius: 5px;
}
.notice-head{
    padding:8px 10px;

}
.notice-title{
    font-size: 16px;
    color: #333333;
    display: block;
    float: left;
}
.notice-time{
    font-size: 12px;
    padding:0 10px;
    color: #999;
    display: block;
    float: right;
}
.notice-content{
    border-top:1px solid #999;
    padding:8px 10px;
    font-size: 12px;
    color: #999;
}
.notice-address{
    font-size: 12px;
    padding:0 10px;
    color: #999;
}
.demand{
    margin:10px 12px;
    background:#fff;
    border-radius: 5px;
}
.demand-head{
    padding:8px 10px;
}
.demand-title{
    font-size: 16px;
    color: #333333;
    display:block;
    float: left;

}
.demand-type{
    font-size: 12px;
    padding:0 10px;
    color: #999;
    display:block;
    float: right;
    border-radius: 5px;
    color:#fff;
    height: 20px;
}
.demand-type-zh{
    background: #17b756;
}
.demand-type-jjr{
    background: #0595e6;
}
.demand-type-zs{
    background: #98b717;
}
.demand-type-dls{
    background: #ea5506;
}
.demand-content{
    border-top:1px solid #999;
    padding:8px 10px;
    font-size: 12px;
    color: #999;
}
.demand-footer{
    padding: 0 10px 5px 0;
}
.demand-details{
    font-size: 12px;
    background: #efeff4;
    width: 80px;
    height:20px;
    text-align: center;
    border-radius: 5px;
    padding: 0px 10px;
    float: left;
    margin-left:calc(50% - 40px);
}
.demand-time{
    font-size: 12px;
    float: right;
}

/*我*/
.me-head{
    width:100%;
    height:64px;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.me-head-box{
    height: 32px;
    padding:0 10px;
    flex:1;
    display: flex;
}
.me-head-left{
    flex:1;
}
.me{
    font-size: 18px;
    font-weight: 600;
    color:#333;
    flex:1;
    display: flex;
    align-items: center;
    justify-content:center;
}
.me-head-right{
    flex:1;
}
.nav_set_icon{
    display: block;
    width: 14px;
    height: 32px;
    background:url("../images/nav_set_icon@2x.png") no-repeat right;
    background-size: 14px;
    float: right;
}
.me-lr{
    width:100%;
    height:141px;
    background: #fff;
    margin-top:10px;
}
.me-lr-head{
    padding:10px;
}
.me-lr-head-img{
    background:url("../images/log in_user-head@2x.png") no-repeat center;
    background-size: 64px;
    width: 64px;
    height:64px;
    border-radius: 50%;
    float: left;
    display: block;
}
.me-lr-head-text{
    margin-left: 10px;
    height:64px;
    line-height: 64px;
    float: left;
    font-weight: 600;
}
.in_right_icon{
    background:url("../images/log in_right_icon@2x.png") no-repeat center;
    background-size: 16px;
    width: 16px;
    height: 64px;
    display:block;
    float: right;
}
.me-lr-footer{
    border-top: 1px solid #ebebee;
    padding: 8px;
}
.me-lr-footer-flex{
    display: flex;
    list-style: none;
}
.me-lr-footer-flex li{
    flex:1;
    text-align: center;
    width: 100%;
    line-height:40px;
    font-size: 14px;
}
.sc-num,.jf-num{
    font-size: 14px;
    font-weight: 200;
    vertical-align:bottom;
}
.me-content{
    width: 100%;
}
.me-content-ul{
    list-style: none;
}
.me-content-ul li{
    margin-top: 10px;
    width: 100%;
    height:50px;
    background:#fff;
    line-height: 50px;
}
.me-content-ul span{
    height: 50px;
    float: left;
    display:block;
}
.content_list_icon01,.content_list_icon02,.content_list_icon03,.content_list_icon04,.content_list_icon05{
    width: 50px;
    height: 50px;
    display:block;
    float: left;
}
.content_list_icon01{
    background: url("../images/content_list_icon01@2x.png") no-repeat center;
    background-size:25px;
}
.content_list_icon02{
    background: url("../images/content_list_icon02@2x.png") no-repeat center;
    background-size:25px;
}
.content_list_icon03{
    background: url("../images/content_list_icon03@2x.png") no-repeat center;
    background-size:25px;
}
.content_list_icon04{
    background: url("../images/content_list_icon04@2x.png") no-repeat center;
    background-size:25px;
}
.content_list_icon05{
    background: url("../images/content_list_icon05@2x.png") no-repeat center;
    background-size:25px;
}
.content_list_right_icon{
    background: url("../images/content_list_right_icon@2x.png") no-repeat center;
    background-size:10px;
    width: 30px;
    height: 50px;
    display:block;
    float: right;
}

/*预约*/
.appointment-head{
    width:100%;
    height:64px;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.appointment{
    font-size: 18px;
    font-weight: 600;
    color:#333;
}
.appointment-content{
    color:#666;
}
.appointment-content1{
    margin-top:10px;
    padding:10px 10px 0 10px;
    background:#fff;
}
.appointment-content-flex{
    display: flex;
    list-style: none;
    height: 100px;
}
.appointment-content-flex1{
    flex:1;
}
.content_img{
    width: 100%;
    height: 100%;
}
.appointment-content-flex2{
    flex:2;
    font-size: 12px;
}
.a-c-f2-h,.a-c-f2-c,.a-c-f2-f{
    padding:0 10px;
}
.content_icon{
    background:url("../images/content_icon@2x.png") no-repeat center;
    background-size:12px;
    display: block;
    float: right;
    width:20px;
    height:19px;
}
.a-c-f2-s2{
    display: block;
    float: right;
    height:19px;
    line-height: 20px;
    color:#999;
}
.a-c-f2-f{
    font-size:12px;
    color: #ea5506;
}
.appointment-content-jd{
    float: right;
    width:50px;
    height: 20px;
    border-radius: 5px;
    background-color: #ea5506;
    color:#fff;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    margin-bottom:10px;
}
.appointment-content-yjd{
    float: right;
    height: 20px;
    font-size: 12px;
    text-align: center;
    margin-bottom:10px;
}

/*+（发布）*/
.release{
    position: absolute;
    left: 0;
    right:0;
    top:0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.92);
    z-index: 11;
}
.publish_close_icon{
    background:url("../images/publish_close_icon@2x.png") no-repeat center;
    background-size:20px;
    display: block;
    width:40px;
    height:40px;
    position: absolute;
    bottom: 20px;
    margin-left: calc(50% - 20px);
}
.release-btn{
    width: 100%;
    position:absolute;
    bottom: 120px;
    text-align: center;
}
.release-xq{
    float: left;
    margin-left: 15%;
}
.release-xq p{
    margin-top: 5px;
    width: 100px;
    text-align: center;
    font-size: 12px;
    color:#fff;
}
.release-fy{
    float: right;
    margin-right: 15%;
}
.release-fy p{
    margin-top: 5px;
    width: 100px;
    text-align: center;
    font-size: 12px;
    color:#fff;
}
.publish_btn02{
    background:url("../images/publish_btn02@2x.png") no-repeat center;
    background-size:100px;
    display: block;
    width:100px;
    height:100px;
}
.publish_btn01{
    background:url("../images/publish_btn01@2x.png") no-repeat center;
    background-size:100px;
    display: block;
    width:100px;
    height:100px;
}