<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册完成</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=1">
    <link href="//cdn.bootcss.com/weui/1.0.2/style/weui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/LoginRegister/RegistrationCompleted.css">
</head>
<body>
<div class="container">
    <div class="release-add-success">
        <div class="release-add-success_box">
            <div class="release-add-success_box-top">注册完成，等待后天确认</div>
            <div class="release-add-success_box-bottom">确认</div>
        </div>
    </div>
</div>
</body>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script>
    $(".release-add-success_box-bottom").click(function(){
        window.location = "index.html";
    })
</script>
</html>